/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 45px 0 0 0;
  background: #f7f4f0;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  color: #232323;
}

a {color: #232323;}
#templateContainer, .invisible {display: none;}
#brandBanner {
  height: 45px;
  line-height: 45px;
  background: #fa8d1c;
  color: #fff;
  font-family: "botanika-mono-web";
  text-transform: uppercase;
  font-size: 24px;
  padding: 0 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  letter-spacing: 2px;
}

  #notePromptWrapper {
    margin: 20px 10%;
    background: #fff;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
  }

    #notePromptWrapper #noteInput,  #notePromptWrapper #listInput { display: none; }
    #notePromptWrapper.open #closedNotePrompt {display: none;}

    #notePromptWrapper.open.list #listInput {display: block;}
    #notePromptWrapper.open.note #noteInput {display: block;}

    #closedNotePrompt { height: 18px; display: block; }
    #closedNotePrompt p {float: left;}
    #listButton, #noteButton {float: right; margin-left: 20px;}

    .titleInput {
      display: block;
      font-weight: bold;
      color: #757575;
      font-family: "roboto", sans-serif;
      font-size: 25px;
      line-height: 30px;
      width: 100%;
      border: none;
      outline: none;
      margin-bottom: 10px;
    }

    #noteInput textarea {
      width: 100%;
      border: none;
      outline: none;
      font-size: 18px;
      font-family: 'Times New Roman', serif;
      min-height: 50px;
    }

    .saveButton {
      /* Grabbed from Zenefits website */
      background-color: #ffa13f;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa13f), to(#f98a17));
      background-image: -webkit-linear-gradient(top, #ffa13f, #f98a17);
      background-image: -moz-linear-gradient(top, #ffa13f, #f98a17);
      background-image: -o-linear-gradient(top, #ffa13f, #f98a17);
      background-image: linear-gradient(to bottom, #ffa13f, #f98a17);
      border: 1px solid #ffa13f;
      border-right-color: #c96e1c;
      border-bottom-color: #c96e1c;
      color: white;

      /* Ken */
      float: right;
      margin-top: 10px;
      padding: 10px;
      text-decoration: none;
    }

      ul li {
        line-height: 24px;
        padding: 5px;
        padding-left: 40px;
        margin: 0 -20px;
      }

        li.focused {
          border-top: solid 1px #efefef;
          border-bottom: solid 1px #efefef;
        }

        li i {font-weight: 100; color: #7c7c7c;}
        li input {
          border: none;
          outline: none;
          display: inline-block;
          width: 75%;
          line-height: 24px;
          margin-left: 10px;
          font-size: 18px;
        }

  .note, .list {
    margin: 20px 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    background: #fff;
    padding: 20px;
  }

    h2 {font-size: 24px; font-weight: bold; margin: 0 0 10px 0;}



