.pace .pace-progress {background: #fa8d1c;}
.bigIcon,.socialList li a:hover{color: #fa8d1c;}
.btn-new,.downloadNumber{background: #fa8d1c}
.btn-new:hover,.btn-new:focus{background: #f34e2a}
#share{background-color: #fa8d1c;}
